{% extends 'layout.html' %}

{% block body %}
    <br/>
    <div class="jumbotron text-center">
      <h1 class="display-4">Hello!</h1>
      <p class="lead">This is a simple site is to help you keep track of the bubble tea stores you
          have been to and the drinks you have tried. You can add a rating and view previous ratings. With this app,
          you will never forget what you have tried.</p>
      <a class="btn btn-primary btn-lg" href="/stores" role="button">Click to Begin</a>
    </div>
{% endblock %}